#include <windows.h>
#include "resource.h"

IDB_ISA_ICON            ICON                    "..\\..\\res\\ico16v.ico"
IDB_ISA_BMP             BITMAP                  "..\\..\\res\\ico16v.bmp"


IDD_ISA_VIEWER DIALOGEX 0, 0, 350, 600
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_CLIPCHILDREN | WS_CAPTION
EXSTYLE WS_EX_CONTROLPARENT
CAPTION "Go To Line #"
FONT 10, "Consolas", 0, 0, 0x0
BEGIN
    LTEXT           "Shader Profile:",ID_UGO_STATIC,8,6,68,8
    EDITTEXT        ID_SHADER_PROFILE,70,3,58,12
    LTEXT           "Entry-point:",ID_UGO_STATIC2,136,6,55,8
    EDITTEXT        ID_ENTRY_POINT,186,3,156,12
    LTEXT           "Extra Args:",ID_UGO_STATIC3,8,38,47,8
    EDITTEXT        ID_EXTRA_ARGS,70,35,272,12
    CONTROL         "vs",IDC_RADIO1,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP,187,21,24,10
    CONTROL         "hs",IDC_RADIO2,"Button",BS_AUTORADIOBUTTON,214,21,24,10
    CONTROL         "ds",IDC_RADIO3,"Button",BS_AUTORADIOBUTTON,241,21,24,10
    CONTROL         "gs",IDC_RADIO4,"Button",BS_AUTORADIOBUTTON,268,21,24,10
    CONTROL         "ps",IDC_RADIO5,"Button",BS_AUTORADIOBUTTON,295,21,24,10
    CONTROL         "cs",IDC_RADIO6,"Button",BS_AUTORADIOBUTTON,322,21,24,10
    LTEXT           "ASIC:",ID_UGO_STATIC4,8,22,55,8
    EDITTEXT        ID_ASIC,70,19,58,12
    DEFPUSHBUTTON   "&Compile",IDOK,8,53,64,14,BS_NOTIFY
	CONTROL         "isa",IDC_RADIO_ISA,"Button",BS_AUTORADIOBUTTON | WS_GROUP | WS_TABSTOP, 90,55,50,10
    CONTROL         "livereg",IDC_RADIO_LIVEREG,"Button",BS_AUTORADIOBUTTON,120,55,50,10
END
